---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(#04519b,#044687 60%,#033769);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.project-name {
  font-family:Courgette;
  color:#FFF;
  font-style:italic;
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: darkblue;
}

